.Header {
    box-sizing: border-box;
    /* height: 3rem; */
    height: 48px;
    width: 100vw;
    padding: 5px;
    background-color: #0055A0;
}

.HeaderImage {
    height: auto;
    width: 8rem;
}