.products-displayer {
    box-sizing: border-box;
    padding: 0px 8px 0px 8px;
    width: 100vw;
    max-width: 100vw;
    max-height: calc(100vh - 86px);

    overflow: hidden;
    overflow-y: scroll;
}

.filter-rules {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    text-align: center;
}

.product-displayer {
    margin: 4px 0px 4px 0px;
}

.product-detail {
    background-color: rgba(255, 216, 0, 1);
    border: solid black 2px;
    border-radius: 8px;

    width: 88%;
    padding: 4px 8px 4px 8px;

}
.detail {
    min-width: 100px;
}