@import "styles/reset.css";
@import "styles/header.css";
@import "styles/code-searcher.css";
@import "styles/search-filters.css";
@import "styles/products-displayer";

.App {
    font-family: 'Roboto', sans-serif;

    max-height: 100vh;
    max-height: calc(100vh - 86px);

    max-width: 100vw;
}

.modal-screen {
    position: absolute;
    z-index: 2;
 
    background-color: rgba(240, 240, 240, 0.9);
    /* background-color: rgba(255, 216, 0, 0.9); */

    pointer-events: auto;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-screen-header-free {
    position: absolute;
    z-index: 2;
 
    background-color: rgba(240, 240, 240, 0.9);

    pointer-events: auto;

    position: fixed;
    bottom: 0;
    left: 0;

    height: calc(100vh - 48px);
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
